body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* vertical alignment */
    margin: 0px;
}
#board{
    background-color: rgb(99, 98, 98);
    width: 100vmin;
    /* minimum viewing port */
    height: 100vmin;
    /* margin-top: 5px; */
    display: grid;
    /* justify-content: flex-end; */
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
}   
.snakecolor{
    background-color: rgb(25, 245, 142);
    border: 0.25vmin solid black;
    /* margin: 0.2px; */
}
.foodcolor{
    background-color: red;
    border: 0.25vmin solid black;
}
