body{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    background: hsla(167, 68%, 73%, 1);

background: linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8DE9D5", endColorstr="#32C4C0", GradientType=1 );
    /* background: url("images/"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* vertical alignment */
    margin: 0px;
}
#board{
    background-color: rgb(99, 98, 98);
    width: 80vmin;
    border: 2px solid black;
    /* minimum viewing port */
    height: 80vmin;
    display: grid;
    /* justify-content: flex-end; */
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
}   
.snakecolor{
    background-color: rgb(25, 245, 142);
    border: 0.25vmin solid black;
    /* margin: 0.2px; */
}
.foodcolor{
    background-color: red;
    border: 0.25vmin solid black;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 59, 76);
    /* background-color: blue; */
    font-size: 75px;
    font-style: italic  ;
    margin-bottom: 10px;
}
#score{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-style: italic;
    color: rgb(7, 59, 76);
    margin-bottom: 5px;

}
